@page "/chat/{username}"
@inject NavigationManager navManager

<PageTitle>Chat Room</PageTitle>

<h2>Chat</h2>

    You are connected as <b>@username</b>
   
<hr />

<div id="scrollbox">
        <div id="messagesList">

            @*Display messages saved in list*@
            @foreach (var message in messages)
            {
                <div style="color: black" class="@message.Display">
                    <div style="text-align: left">@message.Messages</div>
                    <div style="text-align: right"><b>@message.Username</b> @DateTime.Now </div>
                </div>
            }
        </div>
    
    <textarea class="input-lg" placeholder="Enter a message" @bind="_message" autofocus ></textarea>
    <button class="btn" @onclick="SendMessage" disabled="@(!Connected)">Send</button>
</div>